#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #1e272d;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 420px;
  gap: 20px;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.card {
  border-radius: 10px;
  background-color: #101920;

  &-item {
    display: flex;
    justify-content: space-between;
  }
}

.d-flex {
  display: flex;
}

.overview {
  &-total {
    &-btns {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
  }

  &-you {
    display: block;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: start;
    }

    &-btns {
      padding: 10px 0;
      display: flex;
      gap: 5px;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
}